--
-- PostgreSQL database dump
--

\restrict qg0OtFcSxEPdj5ceD8nzoAIhxcE6rfbX13YYxQdYCjGdYWTTfJMgYr4S9issjWg

-- Dumped from database version 17.9
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: activity_logs_action_enum; Type: TYPE; Schema: public; Owner: avnadmin
--

CREATE TYPE public.activity_logs_action_enum AS ENUM (
    'create',
    'update',
    'delete',
    'approve',
    'reject',
    'lock',
    'unlock',
    'dispatch',
    'assign',
    'status_change',
    'login',
    'register',
    'logout'
);


ALTER TYPE public.activity_logs_action_enum OWNER TO avnadmin;

--
-- Name: activity_logs_entitytype_enum; Type: TYPE; Schema: public; Owner: avnadmin
--

CREATE TYPE public.activity_logs_entitytype_enum AS ENUM (
    'approval',
    'asset',
    'inventory',
    'work_order',
    'maintenance_schedule',
    'user',
    'vehicle',
    'inspection',
    'fuel_log',
    'technician',
    'vendor',
    'cost_record',
    'vessel',
    'report',
    'church',
    'branch',
    'auth',
    'event',
    'attendance'
);


ALTER TYPE public.activity_logs_entitytype_enum OWNER TO avnadmin;

--
-- Name: branch_custom_domains_status_enum; Type: TYPE; Schema: public; Owner: avnadmin
--

CREATE TYPE public.branch_custom_domains_status_enum AS ENUM (
    'pending',
    'active',
    'inactive',
    'rejected'
);


ALTER TYPE public.branch_custom_domains_status_enum OWNER TO avnadmin;

--
-- Name: branch_join_requests_joined_via_enum; Type: TYPE; Schema: public; Owner: avnadmin
--

CREATE TYPE public.branch_join_requests_joined_via_enum AS ENUM (
    'request',
    'invite_link'
);


ALTER TYPE public.branch_join_requests_joined_via_enum OWNER TO avnadmin;

--
-- Name: branch_join_requests_status_enum; Type: TYPE; Schema: public; Owner: avnadmin
--

CREATE TYPE public.branch_join_requests_status_enum AS ENUM (
    'pending',
    'approved',
    'rejected'
);


ALTER TYPE public.branch_join_requests_status_enum OWNER TO avnadmin;

--
-- Name: branch_memberships_role_enum; Type: TYPE; Schema: public; Owner: avnadmin
--

CREATE TYPE public.branch_memberships_role_enum AS ENUM (
    'member',
    'coordinator',
    'admin'
);


ALTER TYPE public.branch_memberships_role_enum OWNER TO avnadmin;

--
-- Name: denomination_requests_status_enum; Type: TYPE; Schema: public; Owner: avnadmin
--

CREATE TYPE public.denomination_requests_status_enum AS ENUM (
    'pending',
    'approved',
    'rejected'
);


ALTER TYPE public.denomination_requests_status_enum OWNER TO avnadmin;

--
-- Name: events_category_enum; Type: TYPE; Schema: public; Owner: avnadmin
--

CREATE TYPE public.events_category_enum AS ENUM (
    'church_service',
    'midweek_service',
    'youth',
    'women',
    'men',
    'children',
    'revival',
    'general'
);


ALTER TYPE public.events_category_enum OWNER TO avnadmin;

--
-- Name: events_monthly_type_enum; Type: TYPE; Schema: public; Owner: avnadmin
--

CREATE TYPE public.events_monthly_type_enum AS ENUM (
    'day_of_month',
    'day_of_week'
);


ALTER TYPE public.events_monthly_type_enum OWNER TO avnadmin;

--
-- Name: events_recurrence_pattern_enum; Type: TYPE; Schema: public; Owner: avnadmin
--

CREATE TYPE public.events_recurrence_pattern_enum AS ENUM (
    'daily',
    'weekly',
    'every_2_weeks',
    'monthly',
    'quarterly',
    'yearly'
);


ALTER TYPE public.events_recurrence_pattern_enum OWNER TO avnadmin;

--
-- Name: events_status_enum; Type: TYPE; Schema: public; Owner: avnadmin
--

CREATE TYPE public.events_status_enum AS ENUM (
    'draft',
    'published',
    'ongoing',
    'cancelled',
    'closed'
);


ALTER TYPE public.events_status_enum OWNER TO avnadmin;

--
-- Name: events_visibility_enum; Type: TYPE; Schema: public; Owner: avnadmin
--

CREATE TYPE public.events_visibility_enum AS ENUM (
    'public',
    'members'
);


ALTER TYPE public.events_visibility_enum OWNER TO avnadmin;

--
-- Name: follow_up_contact_logs_method_enum; Type: TYPE; Schema: public; Owner: avnadmin
--

CREATE TYPE public.follow_up_contact_logs_method_enum AS ENUM (
    'phone_call',
    'sms',
    'whatsapp',
    'email',
    'in_person',
    'other'
);


ALTER TYPE public.follow_up_contact_logs_method_enum OWNER TO avnadmin;

--
-- Name: follow_up_contact_logs_outcome_enum; Type: TYPE; Schema: public; Owner: avnadmin
--

CREATE TYPE public.follow_up_contact_logs_outcome_enum AS ENUM (
    'reached',
    'no_answer',
    'left_message',
    'scheduled_callback',
    'wrong_contact'
);


ALTER TYPE public.follow_up_contact_logs_outcome_enum OWNER TO avnadmin;

--
-- Name: follow_up_notification_logs_channel_enum; Type: TYPE; Schema: public; Owner: avnadmin
--

CREATE TYPE public.follow_up_notification_logs_channel_enum AS ENUM (
    'in_app',
    'email'
);


ALTER TYPE public.follow_up_notification_logs_channel_enum OWNER TO avnadmin;

--
-- Name: follow_up_notification_logs_type_enum; Type: TYPE; Schema: public; Owner: avnadmin
--

CREATE TYPE public.follow_up_notification_logs_type_enum AS ENUM (
    'assigned',
    'completed_admin',
    'overdue_7d',
    'high_priority_daily'
);


ALTER TYPE public.follow_up_notification_logs_type_enum OWNER TO avnadmin;

--
-- Name: follow_ups_priority_enum; Type: TYPE; Schema: public; Owner: avnadmin
--

CREATE TYPE public.follow_ups_priority_enum AS ENUM (
    'low',
    'medium',
    'high',
    'urgent'
);


ALTER TYPE public.follow_ups_priority_enum OWNER TO avnadmin;

--
-- Name: follow_ups_status_enum; Type: TYPE; Schema: public; Owner: avnadmin
--

CREATE TYPE public.follow_ups_status_enum AS ENUM (
    'pending',
    'in_progress',
    'completed',
    'cancelled'
);


ALTER TYPE public.follow_ups_status_enum OWNER TO avnadmin;

--
-- Name: follow_ups_type_enum; Type: TYPE; Schema: public; Owner: avnadmin
--

CREATE TYPE public.follow_ups_type_enum AS ENUM (
    'first_visit',
    'absent_member',
    'new_convert',
    'prayer_request',
    'pastoral_care',
    'hospital_visit',
    'birthday',
    'anniversary',
    'general'
);


ALTER TYPE public.follow_ups_type_enum OWNER TO avnadmin;

--
-- Name: people_gender_enum; Type: TYPE; Schema: public; Owner: avnadmin
--

CREATE TYPE public.people_gender_enum AS ENUM (
    'male',
    'female'
);


ALTER TYPE public.people_gender_enum OWNER TO avnadmin;

--
-- Name: users_gender_enum; Type: TYPE; Schema: public; Owner: avnadmin
--

CREATE TYPE public.users_gender_enum AS ENUM (
    'MALE',
    'FEMALE',
    'OTHER'
);


ALTER TYPE public.users_gender_enum OWNER TO avnadmin;

--
-- Name: users_marital_status_enum; Type: TYPE; Schema: public; Owner: avnadmin
--

CREATE TYPE public.users_marital_status_enum AS ENUM (
    'single',
    'married',
    'widowed',
    'engaged',
    'divorced',
    'separated'
);


ALTER TYPE public.users_marital_status_enum OWNER TO avnadmin;

--
-- Name: users_member_status_enum; Type: TYPE; Schema: public; Owner: avnadmin
--

CREATE TYPE public.users_member_status_enum AS ENUM (
    'member',
    'attender',
    'visitor'
);


ALTER TYPE public.users_member_status_enum OWNER TO avnadmin;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: activity_logs; Type: TABLE; Schema: public; Owner: avnadmin
--

CREATE TABLE public.activity_logs (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid,
    action public.activity_logs_action_enum NOT NULL,
    "entityType" public.activity_logs_entitytype_enum NOT NULL,
    "entityId" character varying,
    description text NOT NULL,
    metadata jsonb,
    "createdAt" timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.activity_logs OWNER TO avnadmin;

--
-- Name: branch_custom_domains; Type: TABLE; Schema: public; Owner: avnadmin
--

CREATE TABLE public.branch_custom_domains (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    domain character varying NOT NULL,
    branch_id uuid NOT NULL,
    denomination_id uuid NOT NULL,
    display_name character varying NOT NULL,
    logo_url character varying,
    church_name character varying NOT NULL,
    address character varying,
    pastor_name character varying,
    contact_email character varying,
    contact_phone character varying,
    tagline text,
    primary_color character varying,
    allow_self_signup boolean DEFAULT true NOT NULL,
    status public.branch_custom_domains_status_enum DEFAULT 'pending'::public.branch_custom_domains_status_enum NOT NULL,
    requested_by character varying NOT NULL,
    reviewed_by character varying,
    reviewed_at timestamp without time zone,
    rejection_reason text,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    landing_config jsonb
);


ALTER TABLE public.branch_custom_domains OWNER TO avnadmin;

--
-- Name: branch_invites; Type: TABLE; Schema: public; Owner: avnadmin
--

CREATE TABLE public.branch_invites (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    code character varying NOT NULL,
    branch_id uuid NOT NULL,
    denomination_id uuid NOT NULL,
    created_by character varying NOT NULL,
    expires_at timestamp without time zone,
    max_uses integer,
    uses_count integer DEFAULT 0 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.branch_invites OWNER TO avnadmin;

--
-- Name: branch_join_requests; Type: TABLE; Schema: public; Owner: avnadmin
--

CREATE TABLE public.branch_join_requests (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid NOT NULL,
    branch_id uuid NOT NULL,
    denomination_id uuid NOT NULL,
    status public.branch_join_requests_status_enum DEFAULT 'pending'::public.branch_join_requests_status_enum NOT NULL,
    message character varying,
    joined_via public.branch_join_requests_joined_via_enum DEFAULT 'request'::public.branch_join_requests_joined_via_enum NOT NULL,
    invite_id character varying,
    reviewed_by character varying,
    reviewed_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.branch_join_requests OWNER TO avnadmin;

--
-- Name: branch_memberships; Type: TABLE; Schema: public; Owner: avnadmin
--

CREATE TABLE public.branch_memberships (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid NOT NULL,
    branch_id uuid NOT NULL,
    role public.branch_memberships_role_enum DEFAULT 'member'::public.branch_memberships_role_enum NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    joined_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.branch_memberships OWNER TO avnadmin;

--
-- Name: branches; Type: TABLE; Schema: public; Owner: avnadmin
--

CREATE TABLE public.branches (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying NOT NULL,
    address character varying,
    city character varying,
    state character varying,
    country character varying,
    pastor_name character varying,
    description character varying,
    is_headquarters boolean DEFAULT false NOT NULL,
    denomination_id uuid NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    image character varying,
    map_marker character varying
);


ALTER TABLE public.branches OWNER TO avnadmin;

--
-- Name: denomination_requests; Type: TABLE; Schema: public; Owner: avnadmin
--

CREATE TABLE public.denomination_requests (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    denomination_name character varying NOT NULL,
    first_name character varying NOT NULL,
    last_name character varying NOT NULL,
    email character varying NOT NULL,
    phone character varying,
    address character varying,
    city character varying,
    state character varying,
    country character varying,
    reason text,
    status public.denomination_requests_status_enum DEFAULT 'pending'::public.denomination_requests_status_enum NOT NULL,
    reviewed_by character varying,
    reviewed_at timestamp without time zone,
    rejection_reason text,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.denomination_requests OWNER TO avnadmin;

--
-- Name: denominations; Type: TABLE; Schema: public; Owner: avnadmin
--

CREATE TABLE public.denominations (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    denomination_name character varying NOT NULL,
    description character varying,
    location character varying,
    state character varying,
    country character varying,
    address character varying,
    admin_id uuid NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.denominations OWNER TO avnadmin;

--
-- Name: event_attendance; Type: TABLE; Schema: public; Owner: avnadmin
--

CREATE TABLE public.event_attendance (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    event_id uuid NOT NULL,
    event_date date NOT NULL,
    user_id uuid NOT NULL,
    marked_by uuid,
    check_in_lat double precision,
    check_in_lng double precision,
    checked_in_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.event_attendance OWNER TO avnadmin;

--
-- Name: events; Type: TABLE; Schema: public; Owner: avnadmin
--

CREATE TABLE public.events (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    title character varying NOT NULL,
    description character varying,
    location character varying NOT NULL,
    category public.events_category_enum NOT NULL,
    date date NOT NULL,
    time_from time without time zone NOT NULL,
    time_to time without time zone NOT NULL,
    image character varying,
    is_recurring boolean DEFAULT false NOT NULL,
    recurrence_pattern public.events_recurrence_pattern_enum,
    recurrence_days jsonb,
    monthly_type public.events_monthly_type_enum,
    monthly_day integer,
    monthly_week_descriptor character varying,
    recurrence_end_date date,
    accept_attendance boolean DEFAULT false NOT NULL,
    require_location boolean DEFAULT false NOT NULL,
    location_lat double precision,
    location_lng double precision,
    location_radius integer,
    attendance_status character varying(20),
    attendance_opens_at timestamp with time zone,
    attendance_closes_at timestamp with time zone,
    visibility public.events_visibility_enum DEFAULT 'public'::public.events_visibility_enum NOT NULL,
    visible_to_member_ids jsonb,
    publish_at timestamp with time zone,
    is_published boolean DEFAULT false NOT NULL,
    status public.events_status_enum DEFAULT 'draft'::public.events_status_enum NOT NULL,
    branch_id uuid NOT NULL,
    created_by uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    allow_multiple_checkins boolean DEFAULT false NOT NULL,
    guest_checkin_fields jsonb
);


ALTER TABLE public.events OWNER TO avnadmin;

--
-- Name: follow_up_contact_logs; Type: TABLE; Schema: public; Owner: avnadmin
--

CREATE TABLE public.follow_up_contact_logs (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    follow_up_id uuid NOT NULL,
    method public.follow_up_contact_logs_method_enum NOT NULL,
    outcome public.follow_up_contact_logs_outcome_enum NOT NULL,
    notes text,
    contacted_at timestamp with time zone NOT NULL,
    contacted_by uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.follow_up_contact_logs OWNER TO avnadmin;

--
-- Name: follow_up_notification_logs; Type: TABLE; Schema: public; Owner: avnadmin
--

CREATE TABLE public.follow_up_notification_logs (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    follow_up_id uuid NOT NULL,
    user_id uuid NOT NULL,
    type public.follow_up_notification_logs_type_enum NOT NULL,
    channel public.follow_up_notification_logs_channel_enum NOT NULL,
    sent_for_date date NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.follow_up_notification_logs OWNER TO avnadmin;

--
-- Name: follow_up_saved_filters; Type: TABLE; Schema: public; Owner: avnadmin
--

CREATE TABLE public.follow_up_saved_filters (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid NOT NULL,
    branch_id uuid NOT NULL,
    name text NOT NULL,
    filters jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.follow_up_saved_filters OWNER TO avnadmin;

--
-- Name: follow_ups; Type: TABLE; Schema: public; Owner: avnadmin
--

CREATE TABLE public.follow_ups (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    type public.follow_ups_type_enum DEFAULT 'general'::public.follow_ups_type_enum NOT NULL,
    status public.follow_ups_status_enum DEFAULT 'pending'::public.follow_ups_status_enum NOT NULL,
    priority public.follow_ups_priority_enum DEFAULT 'medium'::public.follow_ups_priority_enum NOT NULL,
    person_id uuid,
    user_id uuid,
    assigned_to uuid,
    scheduled_date date,
    completed_date timestamp with time zone,
    notes text,
    outcome_notes text,
    related_event_id uuid,
    is_escalated boolean DEFAULT false NOT NULL,
    branch_id uuid NOT NULL,
    created_by uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.follow_ups OWNER TO avnadmin;

--
-- Name: guest_attendance; Type: TABLE; Schema: public; Owner: avnadmin
--

CREATE TABLE public.guest_attendance (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    event_id uuid NOT NULL,
    event_date date NOT NULL,
    first_name character varying NOT NULL,
    last_name character varying NOT NULL,
    email character varying,
    phone character varying,
    country character varying,
    state character varying,
    address character varying,
    comments text,
    check_in_lat double precision,
    check_in_lng double precision,
    checked_in_at timestamp with time zone DEFAULT now() NOT NULL,
    custom_responses jsonb
);


ALTER TABLE public.guest_attendance OWNER TO avnadmin;

--
-- Name: people; Type: TABLE; Schema: public; Owner: avnadmin
--

CREATE TABLE public.people (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    first_name character varying,
    last_name character varying,
    middle_name character varying,
    nickname character varying,
    birthdate date,
    gender public.people_gender_enum,
    address character varying,
    state character varying,
    city character varying,
    country character varying,
    email character varying,
    phone character varying,
    profile_image character varying,
    branch_id uuid,
    converted_user_id character varying,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.people OWNER TO avnadmin;

--
-- Name: user_denominations; Type: TABLE; Schema: public; Owner: avnadmin
--

CREATE TABLE public.user_denominations (
    user_id uuid NOT NULL,
    denomination_id uuid NOT NULL
);


ALTER TABLE public.user_denominations OWNER TO avnadmin;

--
-- Name: users; Type: TABLE; Schema: public; Owner: avnadmin
--

CREATE TABLE public.users (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    email character varying NOT NULL,
    first_name character varying,
    last_name character varying,
    middle_name character varying,
    nick_name character varying,
    username character varying,
    full_name character varying,
    address_line character varying,
    state character varying,
    city character varying,
    postal_code character varying,
    country character varying,
    phone_number character varying,
    dob date,
    job_title character varying,
    employer character varying,
    facebook_link character varying,
    is_display_email boolean DEFAULT true NOT NULL,
    is_accept_text boolean DEFAULT false NOT NULL,
    marital_status public.users_marital_status_enum,
    grade character varying,
    baptism_date date,
    baptism_location character varying,
    member_status public.users_member_status_enum DEFAULT 'visitor'::public.users_member_status_enum NOT NULL,
    family_members json,
    last_access timestamp without time zone,
    reset_password_token character varying,
    reset_password_expires timestamp without time zone,
    password_hash character varying,
    role character varying DEFAULT 'member'::character varying,
    is_active boolean DEFAULT true NOT NULL,
    gender public.users_gender_enum,
    profile_img character varying,
    settings json,
    two_factor_code character varying,
    two_factor_code_expires_at timestamp without time zone,
    otp_secret character varying,
    otp_hash character varying,
    google_id character varying,
    refresh_token_hash character varying,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL,
    date_married date,
    phone_is_whatsapp boolean DEFAULT false,
    instagram_link character varying,
    linkedin_link character varying,
    twitter_link character varying,
    whatsapp_link character varying,
    website_link character varying,
    current_session_started_at timestamp without time zone,
    total_time_spent_seconds integer DEFAULT 0 NOT NULL,
    map_pin_lat double precision,
    map_pin_lng double precision
);


ALTER TABLE public.users OWNER TO avnadmin;

--
-- Name: website_visits; Type: TABLE; Schema: public; Owner: avnadmin
--

CREATE TABLE public.website_visits (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    domain character varying(255) NOT NULL,
    path character varying(500) DEFAULT '/'::character varying NOT NULL,
    page_type character varying(40) NOT NULL,
    visitor_id character varying(80),
    ip_address character varying(120),
    user_agent text,
    referrer text,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.website_visits OWNER TO avnadmin;

--
-- Data for Name: activity_logs; Type: TABLE DATA; Schema: public; Owner: avnadmin
--

COPY public.activity_logs (id, user_id, action, "entityType", "entityId", description, metadata, "createdAt") FROM stdin;
\.


--
-- Data for Name: branch_custom_domains; Type: TABLE DATA; Schema: public; Owner: avnadmin
--



--
-- Data for Name: branch_invites; Type: TABLE DATA; Schema: public; Owner: avnadmin
--



--
-- Data for Name: branch_join_requests; Type: TABLE DATA; Schema: public; Owner: avnadmin
--



--
-- Data for Name: branch_memberships; Type: TABLE DATA; Schema: public; Owner: avnadmin
--



--
-- Data for Name: branches; Type: TABLE DATA; Schema: public; Owner: avnadmin
--



--
-- Data for Name: denomination_requests; Type: TABLE DATA; Schema: public; Owner: avnadmin
--



--
-- Data for Name: denominations; Type: TABLE DATA; Schema: public; Owner: avnadmin
--



--
-- Data for Name: event_attendance; Type: TABLE DATA; Schema: public; Owner: avnadmin
--

COPY public.event_attendance (id, event_id, event_date, user_id, marked_by, check_in_lat, check_in_lng, checked_in_at) FROM stdin;
\.


--
-- Data for Name: events; Type: TABLE DATA; Schema: public; Owner: avnadmin
--



--
-- Data for Name: follow_up_contact_logs; Type: TABLE DATA; Schema: public; Owner: avnadmin
--

COPY public.follow_up_contact_logs (id, follow_up_id, method, outcome, notes, contacted_at, contacted_by, created_at) FROM stdin;
\.


--
-- Data for Name: follow_up_notification_logs; Type: TABLE DATA; Schema: public; Owner: avnadmin
--

COPY public.follow_up_notification_logs (id, follow_up_id, user_id, type, channel, sent_for_date, created_at) FROM stdin;
\.


--
-- Data for Name: follow_up_saved_filters; Type: TABLE DATA; Schema: public; Owner: avnadmin
--

COPY public.follow_up_saved_filters (id, user_id, branch_id, name, filters, created_at) FROM stdin;
\.


--
-- Data for Name: follow_ups; Type: TABLE DATA; Schema: public; Owner: avnadmin
--

COPY public.follow_ups (id, type, status, priority, person_id, user_id, assigned_to, scheduled_date, completed_date, notes, outcome_notes, related_event_id, is_escalated, branch_id, created_by, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: guest_attendance; Type: TABLE DATA; Schema: public; Owner: avnadmin
--

COPY public.guest_attendance (id, event_id, event_date, first_name, last_name, email, phone, country, state, address, comments, check_in_lat, check_in_lng, checked_in_at, custom_responses) FROM stdin;
3626d71f-dbb6-4e60-bfec-5e65f557fc6d	93460444-c3ea-4a32-900f-f32e796818a9	2026-04-19	Agnes	Prosper	agyy@gmail.com	+2348138508192	Nigeria	Rivers State	20A, Godwin Ogbonda Street	\N	4.8206547	7.0733372	2026-04-15 17:28:27.872893+00	\N
\.


--
-- Data for Name: people; Type: TABLE DATA; Schema: public; Owner: avnadmin
--



--
-- Data for Name: user_denominations; Type: TABLE DATA; Schema: public; Owner: avnadmin
--

COPY public.user_denominations (user_id, denomination_id) FROM stdin;
87c7051a-64a1-4ea0-b633-e60afc21ee9d	b4970602-4e07-4ddb-8e31-72bb36950135
6269f2ca-5e90-40b1-ac58-0b98c819cfe2	93950e59-3e79-437d-8ef0-a9f460345b49
2739fdd3-229c-47c1-810b-d673382da71d	efc697b4-2d04-4a58-9bd0-a3dc0ce962b6
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: avnadmin
--



--
-- Data for Name: website_visits; Type: TABLE DATA; Schema: public; Owner: avnadmin
--



--
-- Name: follow_up_contact_logs PK_354a6ad2e6be71ecbda702b3905; Type: CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.follow_up_contact_logs
    ADD CONSTRAINT "PK_354a6ad2e6be71ecbda702b3905" PRIMARY KEY (id);


--
-- Name: follow_up_saved_filters PK_3e8605301ddabf7368ba2aeb028; Type: CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.follow_up_saved_filters
    ADD CONSTRAINT "PK_3e8605301ddabf7368ba2aeb028" PRIMARY KEY (id);


--
-- Name: events PK_40731c7151fe4be3116e45ddf73; Type: CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT "PK_40731c7151fe4be3116e45ddf73" PRIMARY KEY (id);


--
-- Name: branch_memberships PK_446b93553f3551af8fea1a132ff; Type: CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.branch_memberships
    ADD CONSTRAINT "PK_446b93553f3551af8fea1a132ff" PRIMARY KEY (id);


--
-- Name: guest_attendance PK_6a69c5ddd4780779e42a90fc8e0; Type: CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.guest_attendance
    ADD CONSTRAINT "PK_6a69c5ddd4780779e42a90fc8e0" PRIMARY KEY (id);


--
-- Name: denomination_requests PK_6c2b5d4548086c0fa1ee76c1cb9; Type: CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.denomination_requests
    ADD CONSTRAINT "PK_6c2b5d4548086c0fa1ee76c1cb9" PRIMARY KEY (id);


--
-- Name: branches PK_7f37d3b42defea97f1df0d19535; Type: CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.branches
    ADD CONSTRAINT "PK_7f37d3b42defea97f1df0d19535" PRIMARY KEY (id);


--
-- Name: branch_join_requests PK_87044218ee2dc9b24194e6c7c76; Type: CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.branch_join_requests
    ADD CONSTRAINT "PK_87044218ee2dc9b24194e6c7c76" PRIMARY KEY (id);


--
-- Name: users PK_a3ffb1c0c8416b9fc6f907b7433; Type: CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "PK_a3ffb1c0c8416b9fc6f907b7433" PRIMARY KEY (id);


--
-- Name: branch_custom_domains PK_a9b1d051cce99926922aa4633c3; Type: CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.branch_custom_domains
    ADD CONSTRAINT "PK_a9b1d051cce99926922aa4633c3" PRIMARY KEY (id);


--
-- Name: people PK_aa866e71353ee94c6cc51059c5b; Type: CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.people
    ADD CONSTRAINT "PK_aa866e71353ee94c6cc51059c5b" PRIMARY KEY (id);


--
-- Name: follow_up_notification_logs PK_c6a36747eb88df5f292a688f4de; Type: CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.follow_up_notification_logs
    ADD CONSTRAINT "PK_c6a36747eb88df5f292a688f4de" PRIMARY KEY (id);


--
-- Name: user_denominations PK_cd97ce9b131750747e9e5c9d06b; Type: CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.user_denominations
    ADD CONSTRAINT "PK_cd97ce9b131750747e9e5c9d06b" PRIMARY KEY (user_id, denomination_id);


--
-- Name: branch_invites PK_d2aa884c065a7b99ae94aadad07; Type: CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.branch_invites
    ADD CONSTRAINT "PK_d2aa884c065a7b99ae94aadad07" PRIMARY KEY (id);


--
-- Name: follow_ups PK_d510aabdff2ec7fdc67a1092157; Type: CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.follow_ups
    ADD CONSTRAINT "PK_d510aabdff2ec7fdc67a1092157" PRIMARY KEY (id);


--
-- Name: website_visits PK_d739eaef2203af65a80ed1d96ff; Type: CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.website_visits
    ADD CONSTRAINT "PK_d739eaef2203af65a80ed1d96ff" PRIMARY KEY (id);


--
-- Name: denominations PK_e140c1e744d16edffd825a9449b; Type: CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.denominations
    ADD CONSTRAINT "PK_e140c1e744d16edffd825a9449b" PRIMARY KEY (id);


--
-- Name: activity_logs PK_f25287b6140c5ba18d38776a796; Type: CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.activity_logs
    ADD CONSTRAINT "PK_f25287b6140c5ba18d38776a796" PRIMARY KEY (id);


--
-- Name: event_attendance PK_f8b37ee4567724d40d0ed38d7f7; Type: CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.event_attendance
    ADD CONSTRAINT "PK_f8b37ee4567724d40d0ed38d7f7" PRIMARY KEY (id);


--
-- Name: users UQ_0bd5012aeb82628e07f6a1be53b; Type: CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "UQ_0bd5012aeb82628e07f6a1be53b" UNIQUE (google_id);


--
-- Name: branch_memberships UQ_1169597332e258c05667ec24ef0; Type: CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.branch_memberships
    ADD CONSTRAINT "UQ_1169597332e258c05667ec24ef0" UNIQUE (user_id, branch_id);


--
-- Name: branch_join_requests UQ_5074fb969e625590c3071f85352; Type: CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.branch_join_requests
    ADD CONSTRAINT "UQ_5074fb969e625590c3071f85352" UNIQUE (user_id, branch_id);


--
-- Name: event_attendance UQ_6cc258866930e6a2ed4ef348bbe; Type: CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.event_attendance
    ADD CONSTRAINT "UQ_6cc258866930e6a2ed4ef348bbe" UNIQUE (event_id, event_date, user_id);


--
-- Name: branch_invites UQ_93604188db3d5f28bcf67719314; Type: CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.branch_invites
    ADD CONSTRAINT "UQ_93604188db3d5f28bcf67719314" UNIQUE (code);


--
-- Name: users UQ_97672ac88f789774dd47f7c8be3; Type: CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "UQ_97672ac88f789774dd47f7c8be3" UNIQUE (email);


--
-- Name: IDX_0db2df64cc8d0aee78453adbd2; Type: INDEX; Schema: public; Owner: avnadmin
--

CREATE UNIQUE INDEX "IDX_0db2df64cc8d0aee78453adbd2" ON public.follow_up_notification_logs USING btree (follow_up_id, user_id, type, channel, sent_for_date);


--
-- Name: IDX_2246e4774fd9849ef279ce02e7; Type: INDEX; Schema: public; Owner: avnadmin
--

CREATE INDEX "IDX_2246e4774fd9849ef279ce02e7" ON public.follow_up_contact_logs USING btree (follow_up_id, contacted_at);


--
-- Name: IDX_4c8fa989a61c05421209c23132; Type: INDEX; Schema: public; Owner: avnadmin
--

CREATE INDEX "IDX_4c8fa989a61c05421209c23132" ON public.follow_ups USING btree (assigned_to, status);


--
-- Name: IDX_5b19843a5d2e1d29da7b66c717; Type: INDEX; Schema: public; Owner: avnadmin
--

CREATE INDEX "IDX_5b19843a5d2e1d29da7b66c717" ON public.website_visits USING btree (page_type);


--
-- Name: IDX_69f0750348659942046af4f026; Type: INDEX; Schema: public; Owner: avnadmin
--

CREATE INDEX "IDX_69f0750348659942046af4f026" ON public.website_visits USING btree (domain);


--
-- Name: IDX_8afd5b1792e8820575b9a966a7; Type: INDEX; Schema: public; Owner: avnadmin
--

CREATE UNIQUE INDEX "IDX_8afd5b1792e8820575b9a966a7" ON public.branch_custom_domains USING btree (domain);


--
-- Name: IDX_ad04913a140427a5110825fbe5; Type: INDEX; Schema: public; Owner: avnadmin
--

CREATE INDEX "IDX_ad04913a140427a5110825fbe5" ON public.user_denominations USING btree (user_id);


--
-- Name: IDX_ad4c0f32e54fcd9995b0a19034; Type: INDEX; Schema: public; Owner: avnadmin
--

CREATE INDEX "IDX_ad4c0f32e54fcd9995b0a19034" ON public.user_denominations USING btree (denomination_id);


--
-- Name: IDX_eb9ac632b7f69bf1e9b0f3f3e8; Type: INDEX; Schema: public; Owner: avnadmin
--

CREATE INDEX "IDX_eb9ac632b7f69bf1e9b0f3f3e8" ON public.follow_ups USING btree (branch_id, status);


--
-- Name: follow_up_contact_logs FK_01e55bcc41c23a456ff32b28b79; Type: FK CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.follow_up_contact_logs
    ADD CONSTRAINT "FK_01e55bcc41c23a456ff32b28b79" FOREIGN KEY (contacted_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: follow_ups FK_0bef4769f1d0dc7a1c0564c2d5b; Type: FK CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.follow_ups
    ADD CONSTRAINT "FK_0bef4769f1d0dc7a1c0564c2d5b" FOREIGN KEY (branch_id) REFERENCES public.branches(id) ON DELETE CASCADE;


--
-- Name: follow_up_notification_logs FK_0cefe7bc0c219aec46f2b604a49; Type: FK CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.follow_up_notification_logs
    ADD CONSTRAINT "FK_0cefe7bc0c219aec46f2b604a49" FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: event_attendance FK_0eb9557412af0cc9d84bfd977c7; Type: FK CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.event_attendance
    ADD CONSTRAINT "FK_0eb9557412af0cc9d84bfd977c7" FOREIGN KEY (marked_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: events FK_1a259861a2ce114f074b366eed2; Type: FK CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT "FK_1a259861a2ce114f074b366eed2" FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: follow_up_contact_logs FK_2fb29d9acb7da4cfa757520665e; Type: FK CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.follow_up_contact_logs
    ADD CONSTRAINT "FK_2fb29d9acb7da4cfa757520665e" FOREIGN KEY (follow_up_id) REFERENCES public.follow_ups(id) ON DELETE CASCADE;


--
-- Name: follow_ups FK_34018a52f62a4a2a6eb7268f716; Type: FK CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.follow_ups
    ADD CONSTRAINT "FK_34018a52f62a4a2a6eb7268f716" FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: branch_join_requests FK_727234b98e90ee648a16b9ad222; Type: FK CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.branch_join_requests
    ADD CONSTRAINT "FK_727234b98e90ee648a16b9ad222" FOREIGN KEY (branch_id) REFERENCES public.branches(id) ON DELETE CASCADE;


--
-- Name: follow_ups FK_779d819934eb871aaf5ff2744fd; Type: FK CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.follow_ups
    ADD CONSTRAINT "FK_779d819934eb871aaf5ff2744fd" FOREIGN KEY (assigned_to) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: follow_ups FK_824ec649d1134acff03795eb861; Type: FK CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.follow_ups
    ADD CONSTRAINT "FK_824ec649d1134acff03795eb861" FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: branch_custom_domains FK_88cd29a0ce50df71bd23a849b1c; Type: FK CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.branch_custom_domains
    ADD CONSTRAINT "FK_88cd29a0ce50df71bd23a849b1c" FOREIGN KEY (branch_id) REFERENCES public.branches(id) ON DELETE CASCADE;


--
-- Name: branch_invites FK_8b1d8b3c4013015a31d5e3c6a45; Type: FK CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.branch_invites
    ADD CONSTRAINT "FK_8b1d8b3c4013015a31d5e3c6a45" FOREIGN KEY (branch_id) REFERENCES public.branches(id) ON DELETE CASCADE;


--
-- Name: event_attendance FK_8c3d80e5fdbb5d27a8397f84aec; Type: FK CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.event_attendance
    ADD CONSTRAINT "FK_8c3d80e5fdbb5d27a8397f84aec" FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: branch_invites FK_9280cfd620fe5b1d5c96adfbf6f; Type: FK CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.branch_invites
    ADD CONSTRAINT "FK_9280cfd620fe5b1d5c96adfbf6f" FOREIGN KEY (denomination_id) REFERENCES public.denominations(id) ON DELETE CASCADE;


--
-- Name: people FK_9d3379ba6913b08146c2562f0a2; Type: FK CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.people
    ADD CONSTRAINT "FK_9d3379ba6913b08146c2562f0a2" FOREIGN KEY (branch_id) REFERENCES public.branches(id) ON DELETE CASCADE;


--
-- Name: follow_ups FK_a59ee1237dccb0c588d3114a79b; Type: FK CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.follow_ups
    ADD CONSTRAINT "FK_a59ee1237dccb0c588d3114a79b" FOREIGN KEY (person_id) REFERENCES public.people(id) ON DELETE CASCADE;


--
-- Name: branches FK_ac6075e65219871b944e74c70ef; Type: FK CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.branches
    ADD CONSTRAINT "FK_ac6075e65219871b944e74c70ef" FOREIGN KEY (denomination_id) REFERENCES public.denominations(id) ON DELETE CASCADE;


--
-- Name: user_denominations FK_ad04913a140427a5110825fbe5a; Type: FK CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.user_denominations
    ADD CONSTRAINT "FK_ad04913a140427a5110825fbe5a" FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_denominations FK_ad4c0f32e54fcd9995b0a190347; Type: FK CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.user_denominations
    ADD CONSTRAINT "FK_ad4c0f32e54fcd9995b0a190347" FOREIGN KEY (denomination_id) REFERENCES public.denominations(id);


--
-- Name: branch_custom_domains FK_affc6cb331a9cff4e7b8a42565e; Type: FK CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.branch_custom_domains
    ADD CONSTRAINT "FK_affc6cb331a9cff4e7b8a42565e" FOREIGN KEY (denomination_id) REFERENCES public.denominations(id) ON DELETE CASCADE;


--
-- Name: branch_join_requests FK_bc9da80c4f1e4f7046345b3558a; Type: FK CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.branch_join_requests
    ADD CONSTRAINT "FK_bc9da80c4f1e4f7046345b3558a" FOREIGN KEY (denomination_id) REFERENCES public.denominations(id) ON DELETE CASCADE;


--
-- Name: events FK_bf0862b475e824a7dc33acc40a1; Type: FK CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT "FK_bf0862b475e824a7dc33acc40a1" FOREIGN KEY (branch_id) REFERENCES public.branches(id) ON DELETE CASCADE;


--
-- Name: branch_memberships FK_d02ae9103b8cd323ff3c80689a5; Type: FK CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.branch_memberships
    ADD CONSTRAINT "FK_d02ae9103b8cd323ff3c80689a5" FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: branch_join_requests FK_d03253751863ac7f0f038660028; Type: FK CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.branch_join_requests
    ADD CONSTRAINT "FK_d03253751863ac7f0f038660028" FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: activity_logs FK_d54f841fa5478e4734590d44036; Type: FK CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.activity_logs
    ADD CONSTRAINT "FK_d54f841fa5478e4734590d44036" FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: follow_up_notification_logs FK_e52039d413427e716a157c5d0db; Type: FK CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.follow_up_notification_logs
    ADD CONSTRAINT "FK_e52039d413427e716a157c5d0db" FOREIGN KEY (follow_up_id) REFERENCES public.follow_ups(id) ON DELETE CASCADE;


--
-- Name: guest_attendance FK_ed2d2028c72d4bbf2960dbc31a9; Type: FK CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.guest_attendance
    ADD CONSTRAINT "FK_ed2d2028c72d4bbf2960dbc31a9" FOREIGN KEY (event_id) REFERENCES public.events(id) ON DELETE CASCADE;


--
-- Name: denominations FK_ede237392b70ce04758df0f104f; Type: FK CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.denominations
    ADD CONSTRAINT "FK_ede237392b70ce04758df0f104f" FOREIGN KEY (admin_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: event_attendance FK_f129300b09d62003b8cc80a602c; Type: FK CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.event_attendance
    ADD CONSTRAINT "FK_f129300b09d62003b8cc80a602c" FOREIGN KEY (event_id) REFERENCES public.events(id) ON DELETE CASCADE;


--
-- Name: branch_memberships FK_fe0758b4142d7e792215d6d0b51; Type: FK CONSTRAINT; Schema: public; Owner: avnadmin
--

ALTER TABLE ONLY public.branch_memberships
    ADD CONSTRAINT "FK_fe0758b4142d7e792215d6d0b51" FOREIGN KEY (branch_id) REFERENCES public.branches(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict qg0OtFcSxEPdj5ceD8nzoAIhxcE6rfbX13YYxQdYCjGdYWTTfJMgYr4S9issjWg

